.pulse-shadow {
    position: absolute;
    pointer-events: none;
    background-color: aliceblue;
    box-shadow: 0px 0px 60px 40px whitesmoke;
    animation: pulseShadow 2.5s infinite;
}

@keyframes pulseShadow {
    0% {
        box-shadow: 0px 0px 60px 40px whitesmoke;
    }
    50% {
        box-shadow: 0px 0px 60px 40px rgba(245, 245, 245, 0.9);
    }
    100% {
        box-shadow: 0px 0px 60px 40px whitesmoke;
    }
}