.workspace {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.workspace-content {
  width: 700px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.workspace-content-top {
  height: 400px;
  width: 100%;
}

.workspace-content-bottom {
  height: 300px;
  width: 100%;
}

.workspace-device {
  min-width: 600px;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center
}