.workspace {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.workspace-content {
  width: 400px;
  height: 800px;
  background-color: brown;
}

.workspace-device {
  min-width: 600px;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center
}