@font-face {
    font-family: 'Digital-7';
    src: url('./font/digital_7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Factory';
    src: url('./font/DaMiOne-Regular.ttf') format('truetype');
    font-weight:  normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: darkgrey;
}