.bar-meter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 800px;
    background-color: rgba(90, 90, 90, 0.507);
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
}

.bar-meter-header {
    padding: 10px;
    min-height: 320px;
    position: relative;
    z-index: 1;
}

.bar-meter-body {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 10px;
    z-index: 0;
}

.body-left {
    flex : 2;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}

.body-right {
    flex : 1;
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}